.distro-body {
  display: grid;
  grid-template-columns: auto 90% auto;
}
.distro-header {
  display: flex;
  align-items: center;
  padding-block: 1.7rem;
  grid-column-start: 2;
  position: relative;
}
.distro-header .title {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.distro-header .title p {
  font-size: 1rem;
}

.distro-header a {
  font-size: 1rem;
  margin-left: auto;
}
.distro-content {
  grid-column-start: 2;
}

#distro-links-toggle {
  margin-left: 0.2rem;
  anchor-name: --anchor_1;
  font-size: 1rem;
}

#distro-links-list {
  position-area: bottom;
  margin-top: 10px;
  position-anchor: --anchor_1;
  border-radius: 10px;
  padding: 0.8rem;
}

::backdrop {
  background-color: rgba(0,0,0,0.1);
}
