{{ define "category" -}}
  {{range .Distros}}
  <div class="distro-card distro-card--new">
    <a href="/distros/{{.ID}}">
      <img src="{{ .Logo }}" />
      <h2>{{.Name}}</h2>
      <p>{{.Description}}</p>
      {{ range .Category }}
        <span class="distro-card-category">{{ . }}</span>
      {{ end }}
    </a>
  </div>
  {{end}}
{{ end }}
