{{ define "style" }}
{{ end }}

{{ define "category" -}}
  {{range .Distros}}
  <div class="distro-card distro-card--new">
    <a href="/distros/{{.ID}}">
      <img src="{{ .Logo }}" />
      <h2>{{.Name}}</h2>
      <p>{{.Description}}</p>
    </a>
  </div>
  {{end}}
{{ end }}
