{{ define "trending" }}
<div class="trending">
  <h1>Trending</h1>
  {{range .Distros}}
    <a href="/distros/{{.ID}}">
      <h2>{{.Name}}</h2>
      <p>{{.Description}}</p>
    </a>
  {{end}}
</div>
{{ end }}
