{{ define "style" }}
<link rel="stylesheet" href="/public/css/distro.page.css" />
{{ end }}

{{ define "content" }}
  <div class="distro-body">
    <div class="distro-header">
      <img src="{{ .Logo }}" width="128" height="128"/>
      <div class="title">
        <h2>{{ .Name }}</h2>
        <p>{{ .Description }}</p>
      </div>
      <a class="btn" href="{{ .Links.Website.URL }}" target="_blank">Web Page</a>
    </div>
    <section class="distro-content">
      <h1>Hi mom!</h1>
    </section>
  </div>
{{ end }}
