{{define "content"}}
<section class="tabs-section">
  <div class="tabs" hx-push-url="true">
    <button
      role="category"
      data-category="trending"
      hx-get="/?category=trending"
      hx-swap="innerHTML"
      hx-target="#category"
      class="tab tab--active"
    >
      Trending
    </button>
    <button
      role="category"
      data-category="popular"
      hx-get="/?category=popular"
      hx-swap="innerHTML"
      hx-target="#category"
      class="tab"
    >
      Popular
    </button>
    <button
      role="category"
      data-category="new"
      hx-get="/?category=new"
      hx-swap="innerHTML"
      hx-target="#category"
      class="tab"
    >
      New
    </button>
  </div>
</section>

<section>
  <div id="category">
    {{ template "category" . }}
  </div>
</section>

<script>
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParam, prop) => searchParam.get(prop),
  });

  const tabs = document.querySelectorAll("[role='category']");
  tabs.forEach((tab) => {
    if (params.category) {
      tab.dataset.category === params.category
        ? tab.classList.add("tab--active")
        : tab.classList.remove("tab--active");
    }

    tab.addEventListener("click", () => {
      for (let i = 0; i < tabs.length; i++) {
        tabs[i].classList.remove("tab--active");
      }
      tab.classList.add("tab--active");
    });
  });
</script>
{{end}}
